---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
---

<Layout title='Inszone Insurance: Business | Personal | Benefits'>
  <Hero/>
  <div class="h-dvh bg-amber-400"></div>
  <div class="h-dvh bg-red-400"></div>
  <div class="h-dvh bg-violet-400"></div>
  <div class="h-dvh bg-blue-400"></div>
</Layout>