---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Inszone Insurance: Business | Personal | Benefits'>
  <div class="h-dvh flex items-center justify-center font-semibold text-primary-950">
    <h1 class="text-9xl reveal-up">Resources</h1>
  </div>
  <div class="h-dvh bg-amber-400"></div>
  <div class="h-dvh bg-red-400"></div>
  <div class="h-dvh bg-violet-400"></div>
  <div class="h-dvh bg-blue-400"></div>
</Layout>