---
const { pathname } = Astro.url
import { HugeiconsIcon } from '@hugeicons/react'
import { CallIncoming04Icon, ArrowRight02Icon } from '@hugeicons/core-free-icons'
import type { Nav } from '@/types'
import MainButton from '@/components/ui/MainButton.astro'

const normalizedPathName =
	pathname.length > 1 && pathname.endsWith("/") ? pathname.slice(0, -1) : pathname

const nav: Nav[] = [
  { label: "Insurance", path: "/insurance" },
  { label: "Find Location", path: "/find-location", active: normalizedPathName.startsWith("/find-location") },
  { label: "Resources", path: "/resources", active: normalizedPathName.startsWith("/resources") },
  { label: "About Us", path: "/about-us", active: normalizedPathName.startsWith("/about-us") }
].map((item) => ({
	...item,
	active: item.active ?? normalizedPathName === item.path
}))
---

<header
  id="header"
  class="fixed top-0 left-0 w-full flex flex-col items-center transition-inszone z-50"
>
  <div class="w-full max-w-8xl h-24 px-8 2xl:px-0 flex items-center justify-between transition-inszone">
    <a href="/"><img src="/images/logo.svg" alt="Inszone Insurance Services Logo" width="124" height="56"/></a>
    <nav class="flex font-semibold leading-none">
      { nav.map(({ label, path, active, isScrollLink }) => (
        <a 
          class={`hover:text-primary-950 flex py-4 px-5 rounded relative transition-all duration-300 ${ active ? "bg-primary-100 text-primary-950" : "" }`} 
          href={ path }
        >
          { label }
        </a>
        ))
      }
    </nav>
    <div class="flex items-center gap-2">
      <div class="flex items-center gap-1 text-primary-950">
        <HugeiconsIcon icon={CallIncoming04Icon} strokeWidth={1} size={48} />
        <div class="flex flex-col gap-1">
          <div class="leading-none font-semibold">Call Us Now!</div>
          <div class="font-bold text-2xl leading-none">(877) 852-6408</div>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  .ghost {
    transform: translateY(-100%);
  }
  .show  {
    background-color: white;
    transform: translateY(0);
    box-shadow: 0 12px 56px rgba(0,46,78,0.08);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    let lastScroll: number = 0
    const header: HTMLElement | null = document.getElementById("header")

    if (!header) {
      throw new Error("Header element not found")
    }

    const scrollThreshold: number = 0

    const handleScroll = (): void => {
      const currentScroll: number = window.pageYOffset

      if (currentScroll <= scrollThreshold) {
        header.classList.remove("ghost", "show")
        lastScroll = currentScroll
        return
      }

      if (currentScroll > lastScroll) {
        header.classList.add("ghost")
        header.classList.remove("show")
      }
      else if (currentScroll < lastScroll) {
        header.classList.remove("ghost")
        header.classList.add("show")
      }

      lastScroll = currentScroll
    }

    window.addEventListener("scroll", handleScroll)
  })
</script>
